$header_background_top_color: #9ACC91;

$header_background_bottom_color: #72B081;

$main_background_color: #FFFAEE;

$sidebar_background_color: #9ACC91;

$sidebar_borders_color: #e7fde7;

$footer_background_color: #1d4b50;

$primary_button_background_color: #ffae30;

$primary_button_hover_color: #ff920c;

$title_and_slogan_color: #A3DA8D;

$text_color_color: #464646;

$link_color_color: #32573b;