@use "../colors";

$nav_bar_height: 3rem;
$nav_bar_height_2_col: 2.5rem;

* {
    color: colors.$text_color_color;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #FFFAEE;
}

.width_100per {
    width: 100%;
}

.width_50per {
    width: 50%;
}

.layout-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    &.sticky-menu {
        padding-top: $nav_bar_height;
    }
}

.layout-container {
    max-width: 1200px;
    margin: 0 auto;
}

.layout-container > header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.layout-sidebar-first {
    width: 100%;
    position: absolute;
    left: -100%;
    display: none;

    &.active {
        left: 0;
        display: block;
    }
}

.layout-sidebar-second {
    width: 100%;
}

.region-header {
    order: 1;
    //width: 100%;
    flex: 1 1 100%;
    background-color: colors.$header_background_top_color;
    padding: 0.5rem;
}

.region-primary-menu {
    order: 2;
    //width: 25%;
    flex: 1 1 auto;
    display: flex;
    background-color: colors.$header_background_bottom_color;
    height: $nav_bar_height;
    align-self: flex-start;
    position: sticky;
    top: 0;
    z-index: 9999;

    &.sticky-menu {
        position: fixed;
        top: 0;
        width: 50%;

        &.sticky-menu-2-col {
            width: 100%;
        }
    }
}

.region-secondary-menu {
    order: 3;
    //width: 75%;
    flex: 1 1 auto;
    height: $nav_bar_height;
    background-color: colors.$header_background_bottom_color;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: relative;

    &.sticky-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
    }
}

.region-content {
    margin: 0.5rem;
}

.region-sidebar-first, .region-sidebar-second {
    background-color: colors.$sidebar_background_color;
    padding: 0.7rem;
}

.region-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: colors.$footer_background_color;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

@media screen and (min-width: 800px) {
    .layout-main {
        &.sticky-menu {
            padding-top: $nav_bar_height_2_col;
        }
    }
  .layout-content {
      width: 70%;
  } 

  .layout-container > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .layout-sidebar-first {
      width: 30%;
      height: 100%;
      position: static;
      display: block;
      //margin-right: 1%;
  }

  .layout-sidebar-second {
      width: 70%;
      position: relative;
      left: 30%;
  }

  .region-header {
      order: 1;
      //width: initial;
      flex-basis: auto;
      padding: 1rem;
  }

  .region-primary-menu {
      order: 3;
      width: 100%;
      height: $nav_bar_height_2_col;
  }

  .region-secondary-menu {
      order: 2;
      width: initial;
      height: initial;
      background-color: colors.$header_background_top_color;
  }

  .region-content {
      margin-left: 0;
  }

  .region-sidebar-first {
      margin: 0.5rem;
      margin-left: 0;
  }
}

@media screen and (min-width: 1100px) {
   .layout-content {
       width: 60%;
   } 

   .layout-sidebar-first {
       width: 20%;
   }

   .layout-sidebar-second {
       width: 20%;
       position: static;
   }

   .region-content {
       margin-right: 0;
   }

   .region-sidebar-second {
       margin: 0.5rem;
       margin-right: 0;
   }
}