* {
  color: #464646;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: #FFFAEE;
}

.width_100per {
  width: 100%;
}

.width_50per {
  width: 50%;
}

.layout-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.layout-main.sticky-menu {
  padding-top: 3rem;
}

.layout-container {
  max-width: 1200px;
  margin: 0 auto;
}

.layout-container > header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-sidebar-first {
  width: 100%;
  position: absolute;
  left: -100%;
  display: none;
}
.layout-sidebar-first.active {
  left: 0;
  display: block;
}

.layout-sidebar-second {
  width: 100%;
}

.region-header {
  order: 1;
  flex: 1 1 100%;
  background-color: #9ACC91;
  padding: 0.5rem;
}

.region-primary-menu {
  order: 2;
  flex: 1 1 auto;
  display: flex;
  background-color: #72B081;
  height: 3rem;
  align-self: flex-start;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.region-primary-menu.sticky-menu {
  position: fixed;
  top: 0;
  width: 50%;
}
.region-primary-menu.sticky-menu.sticky-menu-2-col {
  width: 100%;
}

.region-secondary-menu {
  order: 3;
  flex: 1 1 auto;
  height: 3rem;
  background-color: #72B081;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
}
.region-secondary-menu.sticky-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
}

.region-content {
  margin: 0.5rem;
}

.region-sidebar-first, .region-sidebar-second {
  background-color: #9ACC91;
  padding: 0.7rem;
}

.region-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #1d4b50;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media screen and (min-width: 800px) {
  .layout-main.sticky-menu {
    padding-top: 2.5rem;
  }

  .layout-content {
    width: 70%;
  }

  .layout-container > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .layout-sidebar-first {
    width: 30%;
    height: 100%;
    position: static;
    display: block;
  }

  .layout-sidebar-second {
    width: 70%;
    position: relative;
    left: 30%;
  }

  .region-header {
    order: 1;
    flex-basis: auto;
    padding: 1rem;
  }

  .region-primary-menu {
    order: 3;
    width: 100%;
    height: 2.5rem;
  }

  .region-secondary-menu {
    order: 2;
    width: initial;
    height: initial;
    background-color: #9ACC91;
  }

  .region-content {
    margin-left: 0;
  }

  .region-sidebar-first {
    margin: 0.5rem;
    margin-left: 0;
  }
}
@media screen and (min-width: 1100px) {
  .layout-content {
    width: 60%;
  }

  .layout-sidebar-first {
    width: 20%;
  }

  .layout-sidebar-second {
    width: 20%;
    position: static;
  }

  .region-content {
    margin-right: 0;
  }

  .region-sidebar-second {
    margin: 0.5rem;
    margin-right: 0;
  }
}

/*# sourceMappingURL=layout.css.map */
