@use "../colors";

#block-helfa-classy-mainnavigation {
    //display: inline-block;
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
    height: auto;
    //z-index: 999; // der Wert ist vorläufig gewählt

    &.active {
        display: inline-block !important;
    }
    
    a {
        text-decoration: none;
        color: colors.$text_color_color !important;
    }
    
    > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-position: inside;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        //position: absolute;
        //top: 100%;
        background-color: colors.$header_background_bottom_color;
        
        .is-active {
            border-bottom: 2px solid colors.$text_color_color;
        }
        
        > li {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            position: relative;
            color: colors.$text_color_color;
            padding: 0 6px;
            
            &:hover {
                background-color: colors.$main_background_color;
                
                > ul {
                    //display: block;
                    display: flex;
                    flex-direction: column;
                }
            }
            
            > ul {
                display: none;
                position: absolute;
                left: 100%;
                /*
                */
                background-color: colors.$header_background_bottom_color;
                padding: 3px;
                
                > li:hover {
                    background-color: colors.$main_background_color;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {

    #block-helfa-classy-mainnavigation {
        display: inline-block;
        position: static;
        width: 100%;
        height: 100%;
        //z-index: 999; // der Wert ist vorläufig gewählt
        
        a {
            text-decoration: none;
            color: colors.$text_color_color !important;
        }
        
        > ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            list-style-position: inside;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            background-color: colors.$header_background_bottom_color;
            
            .is-active {
                border-bottom: 2px solid colors.$text_color_color;
            }
            
            > li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1 1 auto;
                position: relative;
                color: colors.$text_color_color;
                padding: 0 6px;
                
                &:hover {
                    background-color: colors.$main_background_color;
                    
                    > ul {
                        //display: block;
                        display: flex;
                        flex-direction: column;
                    }
                }
                
                > ul {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    /*
                    */
                    background-color: colors.$header_background_bottom_color;
                    padding: 3px;
                    
                    > li:hover {
                        background-color: colors.$main_background_color;
                    }
                }
            }
        }
    }
}