@use "../colors";

#block-helfa-classy-search-form {
    //display: inline-block;
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
    height: auto;
    //z-index: 999; // der Wert ist vorläufig gewählt
    
    &.active {
        display: inline-flex !important;
    }
}

@media screen and (min-width: 800px) {

    #block-helfa-classy-search-form {
        display: inline-flex;
        justify-content: flex-end;
        position: static;
        //width: 100%;
        //height: 100%;
        //z-index: 999; // der Wert ist vorläufig gewählt
        
    }
}