#block-helfa-theme-module-search-box-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
#block-helfa-theme-module-search-box-button-block > i {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  #block-helfa-theme-module-search-box-button-block {
    display: none;
  }
}

/*# sourceMappingURL=block-helfa-theme-module-search-box-button-block.css.map */
