#block-helfa-classy-search-form {
  display: none;
  position: absolute;
  top: 100%;
  width: auto;
  height: auto;
}
#block-helfa-classy-search-form.active {
  display: inline-flex !important;
}

@media screen and (min-width: 800px) {
  #block-helfa-classy-search-form {
    display: inline-flex;
    justify-content: flex-end;
    position: static;
  }
}

/*# sourceMappingURL=block-helfa-classy-search-form.css.map */
