#block-helfa-classy-mainnavigation {
  display: none;
  position: absolute;
  top: 100%;
  width: auto;
  height: auto;
}
#block-helfa-classy-mainnavigation.active {
  display: inline-block !important;
}
#block-helfa-classy-mainnavigation a {
  text-decoration: none;
  color: #464646 !important;
}
#block-helfa-classy-mainnavigation > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-position: inside;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #72B081;
}
#block-helfa-classy-mainnavigation > ul .is-active {
  border-bottom: 2px solid #464646;
}
#block-helfa-classy-mainnavigation > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  position: relative;
  color: #464646;
  padding: 0 6px;
}
#block-helfa-classy-mainnavigation > ul > li:hover {
  background-color: #FFFAEE;
}
#block-helfa-classy-mainnavigation > ul > li:hover > ul {
  display: flex;
  flex-direction: column;
}
#block-helfa-classy-mainnavigation > ul > li > ul {
  display: none;
  position: absolute;
  left: 100%;
  /*
  */
  background-color: #72B081;
  padding: 3px;
}
#block-helfa-classy-mainnavigation > ul > li > ul > li:hover {
  background-color: #FFFAEE;
}

@media screen and (min-width: 800px) {
  #block-helfa-classy-mainnavigation {
    display: inline-block;
    position: static;
    width: 100%;
    height: 100%;
  }
  #block-helfa-classy-mainnavigation a {
    text-decoration: none;
    color: #464646 !important;
  }
  #block-helfa-classy-mainnavigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    list-style-position: inside;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #72B081;
  }
  #block-helfa-classy-mainnavigation > ul .is-active {
    border-bottom: 2px solid #464646;
  }
  #block-helfa-classy-mainnavigation > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    position: relative;
    color: #464646;
    padding: 0 6px;
  }
  #block-helfa-classy-mainnavigation > ul > li:hover {
    background-color: #FFFAEE;
  }
  #block-helfa-classy-mainnavigation > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
  }
  #block-helfa-classy-mainnavigation > ul > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /*
    */
    background-color: #72B081;
    padding: 3px;
  }
  #block-helfa-classy-mainnavigation > ul > li > ul > li:hover {
    background-color: #FFFAEE;
  }
}

/*# sourceMappingURL=block-helfa-classy-mainnavigation.css.map */
