#block-helfa-theme-module-main-navigation-button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
#block-helfa-theme-module-main-navigation-button-block > i {
  padding: 0 1rem;
}

@media screen and (min-width: 800px) {
  #block-helfa-theme-module-main-navigation-button-block {
    display: none;
  }
}

/*# sourceMappingURL=block-helfathememainnavigationblock.css.map */
