#block-helfa-classy-useraccountmenu-2 {
  flex: 0 0 auto;
  display: none;
  position: absolute;
  top: 100%;
  width: auto;
  height: auto;
}
#block-helfa-classy-useraccountmenu-2 > ul {
  margin: 0;
}
#block-helfa-classy-useraccountmenu-2.active {
  display: inline-flex !important;
}

@media screen and (min-width: 800px) {
  #block-helfa-classy-useraccountmenu-2 {
    display: inline-flex;
    justify-content: flex-end;
    position: static;
  }
}

/*# sourceMappingURL=block-helfa-classy-useraccountmenu-2.css.map */
